<html xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="assets/master.css" type="text/css"/>
<link rel="stylesheet" href="assets/js-image-slider.css" type="text/css">
<script type="text/javascript" src="assets/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/jquery.ennui.contentslider.js"></script>
<link rel="stylesheet" href="assets/jquery.ennui.contentslider.css" type="text/css">
<script src="assets/tabcontent.js" type="text/javascript"></script>
<link href="assets/tabcontent.css" rel="stylesheet" type="text/css" />
<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
<link href="assets/menu_style.css" rel="stylesheet" type="text/css">

<body>
<div id="wrapper">
  <div>
    <div id="logo">

    </div>
  <div id="menu" style="text-align: center; color: whitesmoke; font-family:verdana;">
    <!-- Homepage   |    Markets   |    Partnerships    |    About Learnguild  |   Services   |   Contact us-->

    <ul class="menu">

      <li><a href="#">Platforms</a>

        <ul>
          <li><a href="/learn">Learn</a></li>
          <li><a href="/platformcollaborate">Collaborate</a></li>
          <li><a href="/transact">Transact</a></li>
          <li><a href="/analytics">Analytics</a></li>
          <li><a href="/mobile">Mobile</a></li>
          <li><a href="/engage">Engage</a></li>

        </ul>

      </li>
      <li><a href="#">Markets</a>

        <ul>
          <li><a href="/highereducation">Higher Education</a></li>
          <li><a href="/secondaryeducation">Secondary Education</a></li>
          <li><a href="/careercolleges">Career Colleges</a></li>
          <li><a href="/corporate">Corporate</a></li>
          <li><a href="/association">Assciation</a></li>
          <li><a href="/goverment">Goverment</a></li>

        </ul>
      </li>
      <li><a href="#">Partnerships</a>

        <ul>
          <li><a href="/partner_overview">Overview</a></li>
          <li><a href="/partnershipprograms">Partnerships Program</a></li>
          <li><a href="/contentdistribution">Content Distribution</a></li>
          <li><a href="/featuredpartners">Feature Partners</a></li>
        </ul>
      </li>

      <li><a href="/worldwide">Worldwide</a></li>
      <li><a href="/about">About LG</a></li>



      <li><a href="#">Services</a>
        <ul>
          <li><a href="/platformconsulting">Platform Consulting</a></li>
          <li><a href="/platformtraining">Platform Training</a></li>
          <li><a href="/managedhosting">manged Hosting</a></li>
          <li><a href="/onlineprogram">Online Program</a></li>
          <li><a href="/studentservices">Student Services</a></li>
          <li><a href="/enterpriseconsulting">Enterprise Consulting</a></li>
        </ul>
      </li>

      <li><a href="#">Contact US</a>
        <ul>
          <li><a href="/contactforms">Contact Forms</a></li>
          <li><a href="/location">Location</a></li>
          <li><a href="/feedback">Feedback</a></li>
          <li><a href="/events">Events</a></li>
        </ul>

      </li>  </ul>


  </div>
</div>
  <div id="slider1">
    <img src="assets/Learn_Video_Showcase.jpg" alt="image" style="width: 100%;">
  </div>
  <div id="maincontent">
    <div id='body_content'>
      <%=raw @page.content_for(:body) %>
    </div>  <div id="banner">

    <table>
      <tr>
        <td class="bannerinside">
          <img src="assets/e-learning-2.jpg" style="height:100px; width:200px;"/> <br/>
          <p style="text-align:left;color: dimgrey;">  Enhancing every aspect of learning, academic life and the student experience.<a href="/learn">Read More.</a></p>
        </td></tr>
      <tr>
        <td class="bannerinside">
          <img src="assets/corp-home-accordion.jpg" style="height:100px; width:200px;"/> <br/>
          <p style="text-align: left;;color: dimgrey;"> Engaging students in the classroom and beyond.<a href="/engage">Read More.</a></p>
        </td></tr>
      <tr>  <td class="bannerinside">
        <img src="assets/cc-home-accordion.jpg" style="height:100px; width:200px;"/> <br/>
        <p style="text-align:left;;color: dimgrey;">  Enhancing every aspect of learning, academic life and the student experience.<a href="/analytics">Read More.</a></p>
      </td>    </tr>

      <tr>
        <td style="padding: 20px; height: 100px;">
          <h1 style="font-family: arial"><a href="/location">Contact us</a>
          </h1>

        </td>
      </tr>

    </table>


  </div>
    <div id='side_body_content'>
      <%=raw @page.content_for(:side_body) %>
    </div>

    <div style="height: 200px; width: 500px;">

    </div>

    <div style="width: 700px; padding: 120px 0 40px; font: 0.85em arial;">
      <ul class="tabs" persist="true">
        <li><a href="#" rel="view1">About</a></li>
        <li><a href="#" rel="view2">Commerce</a></li>
        <li><a href="#" rel="view3">Security</a></li>
        <li><a href="#" rel="view4">Financial Services</a></li>
        <li><a href="#" rel="view5">Innovations</a></li>
      </ul>
      <div class="tabcontents">
        <div id="view1" class="tabcontent">
          <b>About</b>
          <table>
               <tr>
                 <td style="width:300px">
                   <p>

                     LearnGuild Transact™ technology gives your students the convenience of one card for all their needs—from building access to campus meals, to on and off-campus purchases. They’ll also have easy and secure access to financial aid credit balances, student payroll, or money deposited from home. Plus, LearnGuild Transact technology helps make your campus a model of expert and efficient operations and delivers round-the-clock student services.</p>
                 </td>
                 <td>
                   <img src="assets/transact_tab1.jpg" style="padding: 20px;" width="250px;height:200px"/>
                 </td>
               </tr>
          </table>

          <!--<img src="assets/learning_banner.jpg" style="padding: 20px;" width="550px;height:30px"/> -->

        </div>
        <div id="view2" class="tabcontent">
          <b>Commerce</b>
          <table>
            <tr>
              <td>
                <img src="assets/transact_tab2.jpg" style="padding: 20px;" width="250px;height:200px"/>
              </td>
              <td style="width:300px">

                <p>
                  Simplify life for everyone—on and off campus—with one card, one platform. Efficient on-campus commerce management gives you control of virtually every transaction throughout your enterprise.</p>
              </td>

            </tr>
          </table>
        </div>
        <div id="view3" class="tabcontent">
          <b>Security</b>
          <p>You can also open a tab or a bookmark from a link anywhere on the page.</p>
          <p id="mark4">This is a paragraph with id="mark4".</p>
          <p>By clicking the bookmark link at the bottom of this Tab Content, you will see me with this Tab Content panel being opened at the same time.</p>
        </div>
        <div id="view4" class="tabcontent">
          <b>Financial services</b>
          <p>Link from another page can select a tab on the target page when loaded.</p>
        </div>
     <div id="view5" class="tabcontent">
           <b>Innovations</b>
           <p>Link from another page can select a tab on the target page when loaded.</p>
         </div>
      </div>


    </div>


    <div id='bottom_body_content'>
      <%=raw @page.content_for(:bottom) %>
    </div>

  </div>









</div>

<div id="footer">
  <table id="footer_table" cellspacing="20" style="margin:0px auto;">
    <tr valign="top">
      <td>
        <div class="cols">
          <b>Account Manager<br>
            <a href='http://deemsysinc.com/' class="small">My Account</a><br>
            <a href='http://deemsysinc.com/' class="small">My Renewals</a><br>
            <a href='http://deemsysinc.com/' class="small">Order History</a><br>
            <a href='http://deemsysinc.com/' class="small">Create Account</a></b>
        </div>
      </td>

      <td>
        <div class="cols">
          <b>Resources<br>
            <a href='http://deemsysinc.com/' class="small">Webmail</a><br>
            <a href='http://deemsysinc.com/'class="small">WHOIS search</a><br>
            <a href='http://deemsysinc.com/' class="small">ICANN Confirmation</a><br>
            <a href='http://deemsysinc.com/' class="small">Affiliates</a><br>
            <a href='http://deemsysinc.com/' class="small">Follow & Fan Us</a><br>
            <a href='http://deemsysinc.com/' class="small">Legal</a><br>
          </b>
        </div>
      </td>
      <td>
        <div class="cols">
          <b>Support<br>
            <a href='http://deemsysinc.com/contact-us' class="small">Telephone Support & Sales</a><br>
            <a href='http://deemsysinc.com/educational-services' class="small">Product Support</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Discussion Forums</a><br>
            <a href='http://deemsysinc.com/current-clients' class="small">User Groups</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Submit Support Ticket</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Site Suggestions</a><br>
          </b>
        </div>
      </td>
      <!--<td>
          <div class="cols">
          <b>About Deemsys Inc.<br>
          <a href='' class="small">About Us</a><br>
          <a href='' class="small">News Releases</a><br>
          <a href='' class="small">Careers</a><br>
          <a href='' class="small">Marketing Opportunities</a><br>
          <a href='' class="small">Customer Testimonials</a><br>
          <a href='' class="small">Security Center</a><br>
          <a href='' class="small">Round Upfor Charity</a><br>
          <a href='' class="small">Inside Deemsys Inc.</a></b>
          </div>
      </td>-->
      <td>
        <div class="cols">
          <b>Mobile<br>
            <a href='http://deemsysinc.com' class="small">Deemsys Inc., on the GO!</a><br>
            <a href='http://deemsysinc.com/mobile-applications' class="small">iPhone Application</a><br>
            <a href='http://deemsysinc.com/mobile-applications' class="small">iPad Application</a><br>
            <a href='http://deemsysinc.com/mobile-applications' class="small">Android Application</a><br>
            <a href='http://deemsysinc.com/mobile-applications' class="small">DeemsysMobile.com</a></b>
        </div>
      </td>
      <td>
        <div class="cols">
          <b>Global Sites<br>
            <a href='http://deemsysinc.com/contact-us' class="small">Deemsys Inc. (English)</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Deemsys Inc. Australia</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Deemsys Inc. Canada</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Deemsys Inc. India</a><br>
            <a href='http://deemsysinc.com/contact-us' class="small">Deemsys Inc. UnitedKingdom</a></b>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="6">
        <div class="cols" align="center">
          <h5 style="text-align: center; color: white;" class="small"></h5>
          <b>Copyright © 2013-2014.<a style="color: #000000;" href="http://www.deemsysinc.com/">Deemsys Inc</a>. All rights reserved.</b>
        </div>
      </td>
    </tr>
  </table>
</div>

</body>
</html>